﻿
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/admin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/test/Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Form sửa thông tin sản phẩm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="card-body pad">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title" style="text-align:center; width:100%">Form sửa thông tin sản phẩm</h3>
                </div>
                <form role="form" method="post" action="/product/Edit/@Model.ID"
                      enctype="multipart/form-data">
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr align="center">
                                    <th>Tên sản phẩm</th>
                                    <th>ID hãng</th>
                                    <th>Mô tả</th>
                                    <th>Giá gốc</th>
                                    <th>Giá khuyến mại</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" align="center">
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền tên sản phẩm"
                                               name="Ten" value="@Model.Name">
                                    </td>
                                    <td>
                                        <input required="" type="text" name="ID_Hang" value="@Model.ID_Brand" list="dl">
                                        <datalist id="dl">
                                            @foreach (var item in ViewBag.brand)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        </datalist>
                                    </td>

                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền mô tả"
                                               name="MoTa" value="@Model.Description">
                                    </td>
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền giá gốc"
                                               name="Pri" value="@Model.Price">
                                    </td>
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền giá KM"
                                               name="Pro_Price" value="@Model.Promotion_Price">
                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr align="center">
                                    <th>Avatar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" align="center">
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền link ảnh"
                                               name="Anh" value="@Model.Image">
                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr align="center">
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" align="center">
                                    <td>
                                        <input required="" type="text" class="form-control" placeholder="Điền thời hạn bảo hành"
                                               name="Warr" value="@Model.Warranty">
                                    </td>
                                    <td style="text-align:center">
                                        <button type="submit" class="btn btn-primary">Sửa</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>

