﻿
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/client.cshtml";
}

<div class="container">
    @if (Session["ID_cus"] == null)
    {
        <div class="row" style="text-align:center">
            <div class="col" style="text-align:center"><b style="font-size:35px;color:red">Bạn cần đăng nhập để mua hàng!</b></div><br /><br />
        </div>
    }
    else
    {
        <form action="/_clientCart/pay" method="post">
            <div class="row" style="font-size:35px;height:70px">
                <b style="">Thông tin khách hàng</b><br />
            </div>
            <div style="font-size:17px">
                @foreach (var item in ViewBag.cus)
                {
                    <div class="row" style="height:35px">
                        <div class="col-2">
                            <b>Tên khách hàng:</b>
                        </div>
                        <div class="col">
                            @item.Name
                        </div>
                    </div>
                    <div class="row" style="height:35px">
                        <div class="col-2">
                            <b>Email:</b>
                        </div>
                        <div class="col">
                            @item.Email
                        </div>
                    </div>
                    <div class="row" style="height:40px">
                        <div class="col-2">
                            <b>Số điện thoại: </b>
                        </div>
                        <div class="col">
                            <input type="text" value="@item.Phone_Number" name="phone" />
                        </div>
                    </div>
                    <div class="row" style="height:40px">
                        <div class="col-2">
                            <b>Địa chỉ nhận hàng:</b>
                        </div>
                        <div class="col">
                            <input type="text" value="@item.Address" name="add" />

                        </div>
                    </div>
                }
            </div>
            <hr />
            <div class="container">
                <div class="row" style="height:100px">
                    <div class="col-2" style="text-align:center; font-size:23px; border:1px solid white;background-color:aliceblue">
                        <br /> Ảnh sản phẩm
                    </div>
                    <div class="col-2" style="text-align:center; font-size:23px; border:1px solid white;background-color:aliceblue">
                        <br />Tên sản phẩm
                    </div>
                    <div class="col" style="text-align:center; font-size:23px; border:1px solid white;background-color:aliceblue">
                        <br /> Màu sắc
                    </div>
                    <div class="col" style="text-align:center; font-size:23px; border:1px solid white;background-color:aliceblue">
                        <br /> Đơn giá
                    </div>
                    <div class="col" style="text-align:center; font-size:23px; border:1px solid white;background-color:aliceblue;">
                        <br />Số lượng
                    </div>
                    <div class="col" style="text-align:center; font-size:23px; border:1px solid white;background-color:aliceblue;">
                        <br /> Tổng tiền
                    </div>
                </div>

                <hr />
                @foreach (var item in @ViewBag.Cart)
                {

                    <div class="row" style="height:110px">

                        <div class="col-2" style="text-align:center; font-size:20px;border-left:1px solid white;background-color:aliceblue ">
                            <a href="/_clientProductDetail/Index?key=@item.ID_pro" style="color:black">
                                <img src="@item.Image" style="height:110px;width:110px" />
                            </a>
                        </div>
                        <div class="col-2" style="text-align:center; font-size:20px; border-left:1px solid white;background-color:aliceblue">
                            <br /><a href="/_clientProductDetail/Index?key=@item.ID_pro" style="color:black"> @item.Name</a>
                        </div>
                        <div class="col" style="text-align:center; font-size:20px; border-left:1px solid white;background-color:aliceblue">
                            <br /> @item.Color
                        </div>
                        <div class="col" style="text-align:center; font-size:20px; border:1px solid white;background-color:aliceblue">
                            <br />  @string.Format("{0:#,##0}", @item.Price)đ
                        </div>
                        <div class="col" style="text-align:center; font-size:20px; border:1px solid white;background-color:aliceblue">
                            <br /> @item.Quantity_Purchased
                        </div>
                        <div class="col" style="text-align:center; font-size:20px; border:1px solid white;background-color:aliceblue">
                            <br />   @string.Format("{0:#,##0}", @item.Total_Price)đ
                        </div>
                    </div>

                    <hr />
                }
                @{
                    int total = 0;
                    foreach (var item in @ViewBag.Cart)
                    {

                        total += @item.Total_Price;
                    }
                    <div class="row" style="margin-top:40px">
                        <div class="col-4"></div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col" style="font-size:22px; text-align:right"><b>Tổng tiền: </b></div>
                        <div class="col" style="font-size:22px;text-align:center">  @string.Format("{0:#,##0}", @total)đ</div>
                    </div>
                }
            </div>
            <br />
            <div class="row">
                <div class="col"></div>
                <div class="col-2" style="font-size:20px;text-align:center">
                    <input type="submit" style="color:white;background-color:orange;
                    border:5px solid orange;border-radius:10px" value="Đặt hàng" />
                </div>
            </div>
        </form>
    }
</div>
