﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/client.cshtml";
}

<style>
    #overlay:hover .overlay {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: .01s ease;
        transition: .01s ease;
        margin-top:50px
    }

</style>


<div id="main">
    <div class="container">
        <div id="carousel-simple" class="carousel slide col-md-10 col-md-offset-1" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-simple" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-simple" data-slide-to="1"></li>
                <li data-target="#carousel-simple" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="https://bizweb.dktcdn.net/100/336/177/themes/693093/assets/slider_1.jpg?1615542178509" />
                </div>
                <div class="item">
                    <img src="https://bizweb.dktcdn.net/100/336/177/themes/693093/assets/slider_3.jpg?1615542178509" />
                </div>
                <div class="item">
                    <img src="https://bizweb.dktcdn.net/100/336/177/themes/693093/assets/slider_4.jpg?1615542178509" />
                </div>
            </div>

            <!-- Controls -->
            <!--<a class="left carousel-control" href="#carousel-simple" role="button" data-slide="prev">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
            <a class="right carousel-control" href="#carousel-simple" role="button" data-slide="next">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>-->
        </div>
    </div>
</div>
<div class="container">
    <!-- Slider -->
    <!-- New Products -->

    <div class="row" style="background-color:#f3e7d0;margin-top:50px">
        <div class="col-3" style="background-color: orange;border-top-right-radius:1000px;border-bottom-right-radius:1000px;border-right-style:inset">
            <h1 style="color:white">Sản phẩm mới</h1>
        </div>
    </div>
    <div class="row">
        @foreach (var item in ViewBag.product)
        {
            <div class="col-3" style="border: 5px solid #ebd6d6;text-align:center" >
                <div style="height:240px">
                    <a href="/_clientProductDetailController/Index?key=@item.ID" id="overlay" class="image"><img src="@item.Image" style="width:250px; height:230px" /> <i class="overlay">
                        <img src="@item.Image" style="height:220px" />
                    </i></a>
                    
                </div>
                <div style="height:55px">
                    <a href="/_clientProductDetailController/Index?key=@item.ID"><p><b>@item.Name</b></p></a>
                </div>
                <div style="height:130px">
                    <p style=" font-size:14px">@item.Description</p><br />
                </div>
                <div style="height:70px">
                    <p><b style="text-decoration:line-through; font-size:15px;font-weight:bold">@string.Format("{0:#,##0}", @item.Price)đ</b></p>
                    <b style="color:white; background-color:orange;font-size:18px; border-radius:15px; padding:4px;font-weight:bold">@string.Format("{0:#,##0}", @item.Promotion_Price)đ</b>
                </div>
            </div>
        }
    </div>


</div>


