﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/client.cshtml";
}
<style>

    #img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
        color:aquamarine;
    }
    
    #img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    } display:none;
    }
    /*.img-magnifier-container {
        position: relative;
    }

    .img-magnifier-glass {
        position: absolute;
        border: 3px solid #000;
        border-radius: 50%;
        cursor: none;*/
        /*Set the size of the magnifier glass:*/
        /*width: 100px;
        height: 100px;
    }*/
</style>
@*<script>
    function magnify(imgID, zoom) {
        var img, glass, w, h, bw;
        img = document.getElementById(imgID);
        /*create magnifier glass:*/
        glass = document.createElement("DIV");
        glass.setAttribute("class", "img-magnifier-glass");
        /*insert magnifier glass:*/
        img.parentElement.insertBefore(glass, img);
        /*set background properties for the magnifier glass:*/
        glass.style.backgroundImage = "url('" + img.src + "')";
        glass.style.backgroundRepeat = "no-repeat";
        glass.style.backgroundSize = (img.width * zoom) + "px " + (img.height * zoom) + "px";
        bw = 3;
        w = glass.offsetWidth / 2;
        h = glass.offsetHeight / 2;
        /*execute a function when someone moves the magnifier glass over the image:*/
        glass.addEventListener("mousemove", moveMagnifier);
        img.addEventListener("mousemove", moveMagnifier);
        /*and also for touch screens:*/
        glass.addEventListener("touchmove", moveMagnifier);
        img.addEventListener("touchmove", moveMagnifier);
        function moveMagnifier(e) {
            var pos, x, y;
            /*prevent any other actions that may occur when moving over the image*/
            e.preventDefault();
            /*get the cursor's x and y positions:*/
            pos = getCursorPos(e);
            x = pos.x;
            y = pos.y;
            /*prevent the magnifier glass from being positioned outside the image:*/
            if (x > img.width - (w / zoom)) { x = img.width - (w / zoom); }
            if (x < w / zoom) { x = w / zoom; }
            if (y > img.height - (h / zoom)) { y = img.height - (h / zoom); }
            if (y < h / zoom) { y = h / zoom; }
            /*set the position of the magnifier glass:*/
            glass.style.left = (x - w) + "px";
            glass.style.top = (y - h) + "px";
            /*display what the magnifier glass "sees":*/
            glass.style.backgroundPosition = "-" + ((x * zoom) - w + bw) + "px -" + ((y * zoom) - h + bw) + "px";
        }
        function getCursorPos(e) {
            var a, x = 0, y = 0;
            e = e || window.event;
            /*get the x and y positions of the image:*/
            a = img.getBoundingClientRect();
            /*calculate the cursor's x and y coordinates, relative to the image:*/
            x = e.pageX - a.left;
            y = e.pageY - a.top;
            /*consider any page scrolling:*/
            x = x - window.pageXOffset;
            y = y - window.pageYOffset;
            return { x: x, y: y };
        }
    }
</script>*@


<div style="margin-bottom:30px">
    <a style="font-size:20px" href="/_clientProduct/Home/Index">Trang chủ /</a>
    <b style="font-size:20px">
        @foreach (var item in @ViewBag.ctsp)
        {
            @item.Name
        }
    </b>
    <hr />
</div>


<div class="row">
    <div class="col-6">
        <div class="container">
            <div style="text-align:center; margin:5px" @*class="img-magnifier-container"*@>
                @foreach (var item in @ViewBag.ctsp)
                {
                <a data-fancybox="Gallery" href="@item.Image">
                    <img src="@item.Image" style="width:90%;height:90%" id="img" />
                    @foreach (var i in ViewBag.ID_pro)
                    {
                <a  href="/_clientFavoriteList/Add?key=@i.ID_Product_Color" style="border:10px solid orange;position:absolute; background-color:orange;font-weight:bold;
                                margin-top: 10px;border-radius:20px; color:red; margin-left:-50px">
                    + <i class="fa fa-heart"> </i>
                </a>
                        
                    }
                </a>
                }
            </div>
            <div class="row" style="text-align:center; margin:5px">

                @foreach (var item in @ViewBag.image)
                {
                <div class="col-3">
                    <a data-fancybox="Gallery" href="@item.Image">
                        <img src="@item.Image" style="width:90%;height:90%" id="img"/>
                    </a>
                </div>
                }
                @*
                    <div class="col-3" style="border:2px solid #dedede">
                        @foreach (var item in @ViewBag.ctsp)
                        {
                            <img src="@item.Image" style="width:90%;height:90%" />
                        }
                    </div>
                    <div class="col-3" style="border:2px solid #dedede">
                        @foreach (var item in @ViewBag.ctsp)
                        {
                            <img src="@item.Image" style="width:90%;height:90%" />
                        }
                    </div>
                    <div class="col-3" style="border:2px solid #dedede">
                        @foreach (var item in @ViewBag.ctsp)
                        {
                            <img src="@item.Image" style="width:90%;height:90%" />
                        }
                    </div>*@

            </div>
        </div>


        @if (ViewBag.count == 0)
        {
            <div class="row" style="text-align:center;background-color:#dedede; margin:20px">
                <div class="col" style="margin-top: 5px; font-size: 40px; color: red; font-weight: bolder">Cháy hàng!</div><br /><br />
            </div>
        }
        else
        {
            <div class="row" style="text-align:center;background-color:#dedede; margin:20px">
                <div class="container">
                    <div class="row" style="font-size:25px;text-align:center;margin-top:5px;color:red;font-weight:bolder">
                        <div class="col">
                            Size
                        </div>
                    </div>
                    <div class="row" style="text-align:center; margin-top:5px;margin-bottom:10px; font-weight:bolder">
                        @*@foreach (var i in ViewBag.color)
                            {*@
                        <div class="col">
                            <!--<a style="font-size:20px">i.Size--> @*(@i.Quantity)*@
                            <!--</a>
                            <a href="/_clientCard/Add_To_Card?key=i.ID_Product_Color" style="font-size:20px;border:3px solid orange; background-color:orange;font-weight:bold; border-radius:20px; color:red">+<i class="fa fa-shopping-cart">
                                        </i></a>-->
                            <button id="locsize" value="a" onclick="locsize()" style="border:1px solid black ;border-radius:3px" />38
                            @*<select id="locsize" onchange="locsize()">
                                    <option value="a">39</option>
                                    <option value="b">40  </option>
                                    <option value="c">40  </option>
                                </select>*@
                        </div>
                        <div class="col">
                            <button id="locsize1" value="b" onclick="locsize1()" style="border:1px solid black ;border-radius:3px" />39
                        </div>
                        <div class="col">
                            <button id="locsize2" value="c" onclick="locsize2()" style="border:1px solid black ;border-radius:3px" />40
                        </div>
                        <div class="col">
                            <button id="locsize3" value="d" onclick="locsize3()" style="border:1px solid black ;border-radius:3px" />41
                        </div>
                        <div class="col">
                            <button id="locsize4" value="e" onclick="locsize4()" style="border:1px solid black ;border-radius:3px" />42
                        </div>
                        @*}*@

                    </div>
                    <div id="Danh_Sach_Mau">

                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row" style="font-size:25px;text-align:center;margin-top:5px;color:red;font-weight:bolder">
                    <div class="col">
                        @*@foreach (var i in ViewBag.ID_pro)
                        {
                        <a id="mucuathich" href="/_clientFavoriteList/Add?key=@i.ID_Product_Color" style="border:10px solid orange; background-color:orange;font-weight:bold;
                                margin-right: 10px;border-radius:20px; color:red">
                            + <i class="fa fa-heart" ></i>
                        </a>
                        }*@
                        @*@foreach (var item in ViewBag.ID_pro)
                            {
                                <div class="col">
                                    <a href="/_clientCart/Add_To_Card?key=@item.ID_Product_Color" style="border:10px solid orange; background-color:orange;font-weight:bold;
                                    border-radius:20px; color:red">+ <i class="fa fa-shopping-cart"></i></a>
                               </div>
                            }*@
                        @foreach (var i in ViewBag.ctsp)
                        {
                            <a href="/_clientBill/Buy?key=@i.ID" style="border:10px solid orange; background-color:orange;font-weight:bold;
                        margin-left: 10px;border-radius:20px; color:white">Mua hàng</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-6">
        <div style="margin-left:5px">
            @foreach (var item in @ViewBag.ctsp)
            {
                <r style="color:red;font-size:30px; font-weight:bolder">@string.Format("{0:#,##0}", @item.Promotion_Price)đ</r><br />
                <r style="font-size:20px;font-weight:bold">$Giá gốc: </r><i style="font-size:20px;text-decoration:line-through;">@string.Format("{0:#,##0}", @item.Price)đ</i><br />
                <i style="font-size:16px"> @item.Description</i><br />
                <i style="font-size:16px"> Bảo hành @item.Warranty!</i><br /><br /><br />
                <r style="font-size:16px">
                    <br />
                    - Chất lượng REP 1:1 tốt nhất chuẩn 98% so với hàng REAL <br />
                    - Đi đúng size <br />
                    - Vận chuyển toàn quốc [ Kiểm Tra Hàng Trước Khi Thanh Toán ] <br />
                    - 100% Ảnh chụp trực tiếp tại Thắng Shoes <br />
                    - Bảo Hành Trọn Đời Sản Phẩm <br />
                    - Đổi Trả 7 Ngày Không Kể Lí Do <br />
                    - Liên Hệ : 0852.049.203<br />
                </r><br /><br />
            }
        </div>
    </div>
</div>


<script>
    function locsize() {

        var key = $("#locsize").val();
        $.ajax({
            url: "/_clientProductDetailController/locmau?&sortOrder=" + key,
            success: function (result) {
                $("#Danh_Sach_Mau").empty();
                $("#Danh_Sach_Mau").append(result);
            }
        })
    }
</script>
<script>
    function locsize1() {

        var key = $("#locsize1").val();
        $.ajax({
            url: "/_clientProductDetailController/locmau?&sortOrder=" + key,
            success: function (result) {
                $("#Danh_Sach_Mau").empty();
                $("#Danh_Sach_Mau").append(result);
            }
        })
    }
</script>
<script>
    function locsize2() {

        var key = $("#locsize2").val();
        $.ajax({
            url: "/_clientProductDetailController/locmau?&sortOrder=" + key,
            success: function (result) {
                $("#Danh_Sach_Mau").empty();
                $("#Danh_Sach_Mau").append(result);
            }
        })
    }
</script>
<script>
    function locsize3() {

        var key = $("#locsize3").val();
        $.ajax({
            url: "/_clientProductDetailController/locmau?&sortOrder=" + key,
            success: function (result) {
                $("#Danh_Sach_Mau").empty();
                $("#Danh_Sach_Mau").append(result);
            }
        })
    }
</script>
<script>
    function locsize4() {

        var key = $("#locsize4").val();
        $.ajax({
            url: "/_clientProductDetailController/locmau?&sortOrder=" + key,
            success: function (result) {
                $("#Danh_Sach_Mau").empty();
                $("#Danh_Sach_Mau").append(result);
            }
        })
    }
</script>

