﻿
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/admin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/test/Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Form sửa thông tin slide</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="card-body pad">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title" style="text-align:center; width:100%">Form sửa thông tin slide</h3>
                </div>
                <form role="form" method="post" action="/slide/Edit/@Model.ID"
                      enctype="multipart/form-data">
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr align="center">
                                    <th>ID</th>
                                    <th>Tiêu đề</th>
                                    <th>Hình ảnh</th>
                                    <th>Nội dung</th>
                                    <th>Hoạt động</th>
                                    <th>Giảm giá</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr class="odd gradeX" align="center">
                                    <td>
                                        <input type="text" class="form-control" placeholder="Điền tên slide"
                                                value="@Model.ID">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Điền tên slide"
                                               name="Ten" value="@Model.Title">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" value="@Model.Image"
                                               placeholder="Điền link ảnh" name="Anh">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" value="@Model.Content"
                                               placeholder="Điền nội dung" name="content">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" value="@Model.Action"
                                               placeholder="Điền hoạt động" name="action">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" value="@Model.Discount"
                                               placeholder="Điền hoạt động" name="discount">
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-primary">Sửa</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>

